body{
    /* background-image: url(media/bekgron/JogetDebat.gif);
    background-repeat: no-repeat;
    background-position: center; */
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.navbar {

    background-color: #977979;
    display:flex;
    padding: 1 rem 2 rem;
    justify-content: space-between;

}

.navbar ul {

    list-style: none;
    display: flex;
    margin: 0;
    align-items: center;
    /* padding: 0; */
    gap: 2rem;

}
/* h1 {
display:inline;
} */


/* .navbar li {

    display: inline;
    justify-content: space-between; 
    
} */
/* .navbar li h1 {

    display: inline;
    justify-content: space-between; 
    
} */

.navbar a {

    color: rgb(109, 0, 0);
    background-color: chocolate;
    text-decoration: none;
    font-size: x-large;
    padding: 10px 20px;
    border-radius: 15px;

}

.navbar a:hover {

   color: rgb(255, 184, 184);

}

.tabelos {
    margin: auto;
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
}

.tabelos th {
    background-color: rgb(255, 183, 183);
}

